# Root of the project | is used by Prisma (db:migrate, db:generate, etc.)

# Postgres connection string
DATABASE_URL=
# Postgres direct connection string (used for direct DB access without the prisma pooler)
DIRECT_URL=
